{% extends "includes/base.html" %}
{% load socialaccount %}

{% block title %}Register - E-Commerce{% endblock %}

{% block content %}
    <h2 class="text-center">Register</h2>
    <p class="text-center">Already have an account? <a href="{% url 'account_login' %}">Sign in</a></p>

    <div class="row">
        <div class="col-md-12">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" name="next" value="{% url 'home' %}">
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </form>

            <div class="text-center my-4">
                <span class="text-muted">OR</span>
            </div>

            <div class="text-center">
                <a class="btn btn-danger btn-block" href="{% provider_login_url 'google' %}">
                    <i class="fa-brands fa-google"></i> Sign in with Google
                </a>

                <a class="btn btn-dark btn-block" href="{% provider_login_url 'github' %}">
                    <i class="fa-brands fa-github"></i> Sign in with GitHub
                </a>
            </div>
        </div>
    </div>
{% endblock %}
