;;files to ignore

# Virtual environment
venv/
env/

# Byte-compiled files
__pycache__/
*.pyc
*.pyo

# Django settings for local development
.env
*.sqlite3


# Logs and temporary files
*.log
*.pot
*.py[co]
*.swp
*.swo

# Node modules (if using JavaScript in the project)
node_modules/

# VS Code settings (optional)
.vscode/

# PyCharm settings (optional)
.idea/

# MacOS system files
.DS_Store