{% load static %}
{% load allauth account %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}E-Commerce{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/8fd23289ed.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"> {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/styles.css">

</head>
<body>
    {% include 'includes/navbar.html' %}

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    {% include 'includes/footer.html' %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>
