<footer class="footer-distributed">
  <!-- Centered Title -->
  <div class="footer-title">
     <center> <h1 style="font: 40px Times New Roman;font-weight: bold; color: white;">About Us</h1></center>
  </div>

  <div class="footer-content">
      <!-- Left Section: About -->
      <div class="footer-left">
        <h3 style="font-family: 'Times New Roman', cursive;">Ecommerce &copy;</h3>
         <pstyle="font-family: 'Times New Roman', cursive;">Your product, Our market !!!</p>
          
      </div>

      <!-- Center Section: Contact Information -->
      <div class="footer-center">
          <div>
              <i class="fa fa-map-marker"></i>
              <p><span>Ecommerce Products <br>Nairobi, Kenya</p>
          </div>
          <div>
              <i class="fa fa-phone"></i>
              <p>07925006394</p>
          </div>
          <div>
              <i class="fa fa-envelope"></i>
              <p><a href="mailto:kelvin@gmail.com">kelvin@gmail.com</a></p>
          </div>
      </div>

      <!-- Right Section: Social Media -->
      <div class="footer-right">
          <p class="footer-company-about">
              <span>Follow Us</span>
              Connect with us on social media.
          </p>
          <div class="footer-icons">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-youtube"></i></a>
          </div>
      </div>
  </div>
</footer>
